@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.background{
  
    background-image: url('../img/mersides.jpg');
    background-repeat: no-repeat;
    background-size: 1900px;
    
}
.heading {
font-family: sans-serif;
font-size: 70px;
font-weight: 40px;

}
   .korobkalar img{
     width: 200px;
     
     
}
.oq{
    color: rgb(16, 253, 253);
}

.paragraph{
    text-align: justify;
    
}
img:hover{
    transform: scale(1.03);
    transition: all(0.5s);
    cursor: pointer;
}

    









